/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */


.ambiverse-eld-wrap {
    /*background-color: #ebebeb;*/
    /*padding-left: 10px;*/
    /*padding-right: 10px;*/
}

.isloading-wrapper.isloading-right {
    margin-left: 10px;
}
.isloading-overlay {
    position: relative;
    text-align: center;
}
.isloading-overlay .isloading-wrapper {
    background: #FFFFFF;
    -webkit-border-radius: 7px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 7px;
    -moz-background-clip: padding;
    border-radius: 7px;
    background-clip: padding-box;
    display: inline-block;
    margin: 0 auto;
    padding: 10px 20px;
    top: 10%;
    z-index: 9000;
}

#settings-threshold .slider-selection {
    background: #BABABA;
}

.ambiverse-eld-wrap label {
    font-weight: 400;

}

.ambiverse-eld-wrap .settings {
    font-size: 9pt;
    color: #333;

    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    flex-direction: column;
}

.ambiverse-eld-wrap .settings .form-control {
    height: 30px;
}

.ambiverse-eld-wrap .settings .form-group {
    padding: 3px;
    margin-bottom: 0;
}

/*.entry-content .row {*/
    /*margin-left: -5px !important;*/
    /*margin-right: -5px !important;*/
/*}*/



.mention {
    position: relative;
    border-bottom: 2px solid transparent;
    display: inline;
    font-weight: 600;
}

.mention.red {
    color: #d9534f;
    border-bottom-color: #d43f3a;
}

.mention.light-green {
    color: #80c9a4;
    border-bottom-color: #abe2c6;
}

.mention.blue {
    color: #337ab7;
    border-bottom-color: #2e6da4;
}

.mention.green {
    color: #449d44;
    border-bottom-color: #398439;
}

.mention.light-blue {
    color: #5bc0de;
    border-bottom-color: #46b8da;
}

.mention.orange {
    color: #f0ad4e;
    border-bottom-color: #eea236;
}

.mention.gray {
    color: #333;
    border-bottom: 1px dotted #777;
}

.mention.selected {
    position: relative;
    border-bottom: 2px solid transparent;
    /*background-color: #fecebf;
    border-bottom-color: #e2534f;*/

}

.mention.red.selected {
    background-color: #fecebf;
    border-bottom-color: #ac2925;
    color: #c9302c;
}

.mention.blue.selected {
    background-color: #b9e6fc; //#d9edf7;
    border-bottom-color: #204d74;
    color: #2e6da4;
}

.mention.green.selected {
    background-color: #bfffbf;
    border-bottom-color: #398439;
    color: #449d44;
}

.mention.light-blue.selected {
    background-color: #d9f1fd; //#d9edf7;
    border-bottom-color: #269abc;
    color: #31b0d5;
}

.mention.light-green.selected {
    background-color: #bfeede;
    border-bottom-color: #28b473;
    color: #51c891;
}

.mention.orange.selected {
    background-color: #fbdfb7;
    border-bottom-color: #ec971f;
    color: #ec971f;
}

.mention.gray.selected {
    background-color: #ebebeb;
    border-bottom-color: #777;
    color: #333;
}

.entity-box {
    padding: 30px 20px 20px 20px;
    border: 1px #ebebeb solid;
    background: #fff;
    /*box-shadow: 0 1px 2px rgba(0,0,0,.1);*/
    box-shadow: 0 10px 6px -6px #777;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 20px;
    min-height:200px;
    height: auto;


    font-size: 10pt;
    color: #555;
    width: 100%;

}

.flex-item {
    width: 33%;
    float: left;
    padding: 0.625rem; /* 10 */

    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    position: relative;
}
.flex-container {
    width: 100%;
    overflow: hidden;

    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    padding-left: 0px !important;
}


.entity-box.media {
    /*margin-top: 0 !important;*/
}

.entity-box h4 {
    color: #555;
    font-size: 11pt;
    width: 90%;
}

.entity-box h3 {
    color: #555;
    font-weight: 600;

}

.entity-box img {
    width: 60px;
}

.entity-box .fa {
     font-size: 10pt !important;
     width: auto !important;;
     height: auto !important;;
     line-height: inherit !important;;
     padding: 0 !important;;
     text-align: center !important;;
}


/*==================================================
 * Effect 7
 * ===============================================*/
.entity-box.selected
{
    /*position:relative;*/
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.entity-box.selected:before, .entity-box.selected:after
{
    content:"";
    z-index:-1;
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    border-radius:100px / 10px;
}
.entity-box.selected:after
{
    right:10px;
    left:auto;
    transform:skew(8deg) rotate(3deg);
}

.entity-box.blue.selected
{
    box-shadow:0 1px 4px rgba(32, 77, 116, 0.5), 0 0 40px rgba(32, 77, 116, 0.2) inset;
}

.entity-box.green.selected
{
    box-shadow:0 1px 4px rgba(57, 132, 57, 0.5), 0 0 40px rgba(57, 132, 57, 0.2) inset;
}
.entity-box.light-blue.selected
{
    box-shadow:0 1px 4px rgba(38, 154, 188, 0.5), 0 0 40px rgba(38, 154, 188, 0.2) inset;
}
.entity-box.orange.selected
{
    box-shadow:0 1px 4px rgba(213, 133, 18, 0.5), 0 0 40px rgba(213, 133, 18, 0.2) inset;
}
.entity-box.light-green.selected
{
    box-shadow:0 1px 4px rgba(40, 180, 115, 0.5), 0 0 40px rgba(40, 180, 115, 0.2) inset;
}

.entity-box.red.selected
{
    box-shadow:0 1px 4px rgba(172, 41, 37, 0.5), 0 0 40px rgba(172, 41, 37, 0.2) inset;
}


.entity-box .ribbon {
    border-width: 1px 1px 2px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.5);
    margin: 0 !important;
    padding: 4px 20px;
    position: absolute;
    right: 2px !important;
    top: 9px;
    font-size: 10pt;

    background-image: radial-gradient(transparent 30%, rgba(0, 0, 0, 0.2));
    border: 0 solid rgba(0,0,0,0.2);
    color: #fff;
    z-index: 200;
}

.entity-box .ribbon:after {
    border-width: 2px;
    border-style: solid;
    border-color: #134 transparent transparent #134;
    bottom: -4px;
    content: "";
    position: absolute;
    right: 1px;
}

.entity-box .ribbon.blue {
    background: #2e6da4;
}
.entity-box .ribbon.red {
    background: #c9302c;
}
.entity-box .ribbon.light-blue {
    background: #31b0d5;
}

.entity-box .ribbon.green {
    background: #449d44;
}

.entity-box .ribbon.light-green {
    background: #51c891;
}

.entity-box .ribbon.orange {
    background: #ec971f;
}

.entity-box .ribbon.gray {
    background: #777;
}

.entity-box .btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    min-width: 10px !important;
}

.entity-box .btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.entity-box .btn-group-sm>.btn, .btn-sm {
    padding: 5px 10px !important;
    font-size: 12px !important;
    line-height: 1.5 !important;
    border-radius: 3px !important;
}

.entity-box .btn-group-xs>.btn, .btn-xs {
    padding: 1px 5px !important;
    font-size: 12px !important;
    line-height: 1.5 !important;
    border-radius: 3px !important;
}
.settings-panel {
    padding-left: 0px !important;
}

.ambiverse-eld-wrap .tab-content {
    background: #ffffff;
}

@media only screen and (max-width: 992px) {
    .settings-panel {
        padding-left: 15px !important;
    }
}


@media screen and ( max-width: 1200px ) /* 800 */
{
    .list__item
    {
        width: 25% !important;; /* 3 items per row */
    }

    @supports ( display: -webkit-flex ) or ( display: -ms-flex ) or ( display: flex )
    {
        .list__item
        {
            width: 25% !important;;
        }

    }

}

@media screen and ( max-width: 992px ) /* 800 */
{
    .flex-item
    {
        width: 50%; /* 2 items per row */
    }
    .list__item
    {
        width: 33.333% !important;; /* 3 items per row */
    }
    .list__item .crop {
        max-height: 180px !important;
    }
    @supports ( display: -webkit-flex ) or ( display: -ms-flex ) or ( display: flex )
    {
       .flex-item
        {
            width: 50%;
        }
        .list__item
        {
            width: 33.333% !important;;
        }
        .list__item .crop {
            max-height: 180px !important;
        }
    }

}

@media screen and ( max-width: 640px ) /* 320 */
{
    .flex-item
    {
        width: 100%; /* 1 item per row */
        float: none;
    }
    .list__item
    {
        width: 50% !important;; /* 2 items per row */
    }

    .list__item .crop {
        max-height: 180px !important;
    }

    @supports ( display: -webkit-flex ) or ( display: -ms-flex ) or ( display: flex )
    {
        .flex-item
        {
            width: 100%;
        }
        .list__item
        {
            width: 50% !important;
        }
        .list__item img
        {
            max-width: none;
            float: none;
            margin-left: 0;
        }
        .list__item .crop {
            max-height: 180px !important;
        }


    }
}

@media screen and ( max-width: 400px ) /* 400 */
{
    .flex-item
    {
        width: 100%; /* 1 item per row */
        float: none;
    }
    .list__item
    {
        width: 100% !important;; /* 2 items per row */
    }

    .list__item .crop {
        max-height: 250px !important;
        height: 250px !important;
    }

    @supports ( display: -webkit-flex ) or ( display: -ms-flex ) or ( display: flex )
    {
        .flex-item
        {
            width: 100%;
        }
        .list__item
        {
            width: 100% !important;
        }
        .list__item img
        {
            max-width: none;
            float: none;
            margin-left: 0;
        }
        .list__item .crop {
            max-height: 250px !important;
            height: 250px !important;
        }


    }
}

.list__item
{
    width: 20%;
    float: left;
    padding: 0.625rem; /* 10 */

    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}
.list__item__inner
{
    width: 100%;
    color: #474d51;
    background-color: #fff;
    overflow: hidden;

    padding: 0 0 0 0 !important;

    /*-webkit-box-shadow: 0 0.125rem 0.313rem rgba( 0, 0, 0, .2 ); !* 2 5 *!*/
    /*box-shadow: 0 0.125rem 0.313rem rgba( 0, 0, 0, .2 ); !* 2 5 *!*/
}
.list__item .crop {
    max-height: 200px;
    height: 200px;
    width: 100% !important;
    display: block;
    overflow: hidden;
    position: relative;
    line-height: 80px;

}

.list__item .crop img
{
    position: relative;
    display: inline-block;
    min-width: 100% !important;
    width: 100% !important;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle !important;
}
.list__item figcaption
{
    padding: 1.25rem; /* 20 */
}

.list__item__inner .ribbon {
    top: 12px;
}

.confidence {
    position: absolute;
    bottom: 40px;
    margin-right: 30px;
    flex: 1 0 auto;
}

.unknown {
    /*position: absolute;*/
    bottom: 40px;
    margin-right: 30px;
    flex: 1 0 auto;
    min-height: 80px;
}